.header{
    display: grid;
    width:100%;
    min-height:120px;
    grid-template-columns: 1fr;
    grid-auto-rows: 1.3fr 0.7fr;
}
.head1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; 
   column-gap: 20px; 
}

.head2{
     display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
   column-gap: 20px;
   
   

    border: 1px solid rgb(62, 54, 54);
    
}
body{
  width:97vw;
  height:97vh;
   background: linear-gradient(rgb(37, 35, 35),rgb(37, 35, 35),rgb(37, 35, 35),rgb(72, 68, 68),rgb(101, 98, 98),rgb(40, 36, 36));
  
}
.container{
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows:0.3fr 1.7fr;
    background: linear-gradient(rgb(37, 35, 35),rgb(37, 35, 35),rgb(37, 35, 35),rgb(72, 68, 68),rgb(101, 98, 98),rgb(40, 36, 36));
    width:100%;
    height:100%;
    
}




.sng{
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    width:80px;
    height:80px;  

}

.main {
  display: flex;
  width:100%;
  flex-direction: column; 
  gap: 300px;         
  overflow-y: auto;    
  height: calc(97vh - 120px); 
  
}

.main .main50,main .main60, .main .main70, .main .main80,main .main90,.main .newgen {
  height: 500px;

}


p{
    text-align: center;
     box-shadow: 0 0 8px red;

}
.a{
    background-image: url("../images/unnamed.png");
    box-shadow: 0 0 10px red;
    
}
.b{
    background-image: url("../images/unnamed (1).png");
     box-shadow: 0 0 8px red;
}
.c{
    background-image: url("../images/1000_F_97138737_UTWjxfT7VdrisnAYwxccDm7GQavr4v9P.jpg");
     box-shadow: 0 0 8px red;
}
.d{
    background-image: url("../images/images (4).jpeg");
     box-shadow: 0 0 8px red;
}
.e{
    background-image: url("../images/attachment_133142700.png");
     box-shadow: 0 0 8px red;
}
.f{
    background-image: url("../images/download (1).png");
     box-shadow: 0 0 8px red; 
}
.g{
    background-image: url("../images/person_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24 (1).png");
     box-shadow: 0 0 8px red;
}
.h{
    background-image: url("../images/home_29dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png");
     box-shadow: 0 0 8px red;
  
}
.main50,.main60,.main70,.main80,.main90,.newgen{
     
      display:grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      place-items: center;
      row-gap: 150px;
      padding-top:150px;
}

.scene{
      width: 150px;
      height: 150px;
      perspective: 1000px;
      
      
    }
.scen{
    width:150px;
    height:30px;
    border:4px solid rgb(56, 56, 56);
    text-align: center;
    box-shadow: 0 0 10px white;
    color:rgb(243, 85, 85);
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size:1.2rem;
  font-variation-settings:
    "wdth" 100;
}    

.cube {
      width: 100%;
      height: 100%;
      
      position: relative;
      transform-style: preserve-3d;
      animation: rotate 20s infinite linear;
    }

.face {
      position: absolute;
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      box-shadow: 0 0 25px #f45538;
      cursor: pointer;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: background 0.3s;
      color: white;
      opacity: 0.8;
    }

.face:hover {
      opacity: 1;
      object-position: 2rcap;
     
    }
 
    .front  { transform: rotateY(0deg) translateZ(125px);  }
    .back   { transform: rotateY(180deg) translateZ(125px); }
    .right  { transform: rotateY(90deg) translateZ(125px);  }
    .left   { transform: rotateY(-90deg) translateZ(125px);  }
    .top    { transform: rotateX(90deg) translateZ(125px);  }
    .bottom { transform: rotateX(-90deg) translateZ(125px);  }
  @keyframes rotate {
      0%   { transform: rotateX(0deg) rotateY(0deg); }
      100% { transform: rotateX(360deg) rotateY(360deg); }
      }



  .A0 {
  background-image: url("../images/udit nar5.jpeg");
}
.B0 {
  background-image: url("../images/moh4.jpeg");
}
.C0 {
  background-image: url("../images/s.d burman3.jpg");
}
.D0 {
  background-image: url("../images/kumarsanu6.jpg");
}
.E0 {
  background-image: url("../images/kishore2.jpg");
}
.F0 {
  background-image: url("../images/Mohd_Rafi.jpg");
}
.A9 {
  background-image: url("../images/lata.jpeg");
}
.B9 {
  background-image: url("../images/aaja.jpeg");
}
.C9 {
  background-image: url("../images/yerate.jpg");
}
.D9 {
  background-image: url("../images/itna.jpeg");
}
.E9 {
  background-image: url("../images/nurani.jpeg");
}   
  .A1 { background-image: url("../images/asha.jpeg"); }
.B1 { background-image: url("../images/kalyan.jpeg"); }
.C1 { background-image: url("../images/anudrada.jpeg"); }
.D1 { background-image: url("../images/ch atma.jpeg"); }
.E1 { background-image: url("../images/devanand2.jpeg"); }

.A2 { background-image: url("../images/eajkhuari7.jpg"); }
.B2 { background-image: url("../images/sonu.jpeg"); }
.C2 { background-image: url("../images/hari haran.jpeg"); }
.D2 { background-image: url("../images/kalyan.jpeg"); }
.E2 { background-image: url("../images/s.d burman3.jpg"); }

.A3 { background-image: url("../images/juta.jpeg"); }
.B3 { background-image: url("../images/alka.jpeg"); }
.C3 { background-image: url("../images/udit nar5.jpeg"); }
.D3 { background-image: url("../images/Mohd_Rafi.jpg"); }
.E3 { background-image: url("khishoreda4.png"); }


.A4 { background-image: url("../images/talat.jpeg"); }
.B4 { background-image: url("../images/asha.jpeg"); }
.C4 { background-image: url("../images/udit nar5.jpeg"); }
.D4 { background-image: url("../images/roop.jpeg"); }
.E4 { background-image: url("hari haran.jpeg"); }

.A5 { background-image: url("../images/s.d burman3.jpg"); }
.B5 { background-image: url("../images/anudrada.jpeg"); }
.C5 { background-image: url("../images/sonu.jpeg"); }
.D5 { background-image: url("../images/devanand2.jpeg"); }
.E5 { background-image: url("../images/sauriya.jpg"); }

.A6 { background-image: url("../images/Mohd_Rafi.jpg"); }
.B6 { background-image: url("../images/khishoreda4.png"); }
.C6 { background-image: url("../images/eajkhuari7.jpg"); }
.D6 { background-image: url("../images/kalyan.jpeg"); }
.E6 { background-image: url("../images/ch atma.jpeg"); }

.A7 { background-image: url("../images/udit nar5.jpeg"); }
.B7 { background-image: url("../images/roop.jpeg"); }
.C7 { background-image: url("../images/talat.jpeg"); }
.D7 { background-image: url("../images/asha.jpeg"); }
.E7 { background-image: url("../images/sonu.jpeg"); }

.A8 { background-image: url("../images/anudrada.jpeg"); }
.B8 { background-image: url("../images/sauriya.jpg"); }
.C8 { background-image: url("../images/Mohd_Rafi.jpg"); }
.D8 { background-image: url("../images/kavita.jpeg"); }
.E8 { background-image: url("../images/khishoreda4.png"); }

.A11{
  background-image:url("../images/raftar.jpeg");
}
.B11{
  background-image:url("../images/subh.jpeg");
}

.C11{
  background-image:url("../images/krshna.webp");
}

.D11{
  background-image:url("../images/emiway.jpeg");
}

.E11{
  background-image:url("../images/sos.jpeg");
}
.A10{
  background-image:url("../images/siddu.jpeg");
}
.B10{
  background-image:url("../images/yo yo.jpeg");
}

.C10{
  background-image:url("../images/talwinder.jpeg");
}

.D10{
  background-image:url("../images/brodhav.jpeg");
}

.E10{
  background-image:url("../images/sedhemout.jpg");
}
button{
  background-color: black;
  color:rgb(250, 98, 126);
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size:1.2rem;
  font-variation-settings:
    "wdth" 100;
     box-shadow: 0 0 10px rgb(244, 95, 95);
}



